    * {
        margin: 0;
        padding: 0;
    }

    i {
        margin-right: 10px;
    }

    h2 {
        margin: 0;
    }

    h6 {
        margin: 0;
        color: #777;
    }

    #accordian {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
    }

    .main-navbar {
        position: relative;
    }

    #accordian li {
        list-style-type: none;
    }

    #accordian ul li a {
        color: rgba(255, 255, 255, .5);
        text-decoration: none;
        font-size: 21px;
        line-height: 45px;
        padding: 17px 58px;
        position: relative;
        display: flex;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    #accordian ul li i {
        font-size: 32px;
    }