    *{
        margin:0;
        padding:0;
    }

    i{
        margin-right:10px;
    }
    
    h2{
        margin:0;
    }
    
    h6{
        margin:0;
        color:#777;
    }
    
    #accordian{
        background:#2853a1;
        width: 20%;
        padding:10px 0 10px 10px;
        float:left;
        height:76.5vh;
        overflow-x:hidden;
        position:relative;
        border-bottom-right-radius: 25px;
    }
    
    .main-navbar{
        position:relative;
    }
    
    #accordian li{
        list-style-type:none;
    }
    
    #accordian ul li a{
        color:rgba(255,255,255,.5);
        text-decoration:none;
        font-size:15px;
        line-height:45px;
        display:block;
        padding:0 20px;
        position:relative;
    }
    
    #accordian>ul>li.active>a{
        color:#2853a1;
        background-color:transparent;
    }
    
    .selector-active{
        width:100%;
        display:inline-block;
        position:absolute;
        height:37px;
        top:0;
        left:0;
        background-color:#fff;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
    }
    
    .selector-active .bottom,.selector-active .top{
        position:absolute;
        width:25px;
        height:25px;
        background-color:#fff;
        right:0;
    }
    
    .selector-active .top{
        top:-25px;
    }
    
    .selector-active .bottom{
        bottom:-25px;
    }
    
    .selector-active .bottom:before,.selector-active .top:before{
        content:'';
        position:absolute;
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:#2853a1;
    }
    
    .selector-active .top:before{
        left:-25px;
        top:-25px;
    }
    
    .selector-active .bottom:before{
        bottom:-25px;
        left:-25px;
    }

    .row{
        display: block;
    }