    *{
        margin:0;
        padding:0;
    }

    i{
        margin-right:10px;
    }
    
    h2{
        margin:0;
    }
    
    h6{
        margin:0;
        color:#777;
    }
    
    #accordian{
        background: linear-gradient(180deg, #2853A1 49.64%, #5793FF 142.14%, #2E5BAD 143.37%, rgba(167, 179, 201, 0.284) 143.38%, #5793FF 143.39%);
        float:left;
        height:76.5vh;
        overflow-x:hidden;
        position:relative;
        border-bottom-right-radius: 25px;
        width: 20vw;
    }
    
    .main-navbar{
        position:relative;
    }
    
    #accordian li{
        list-style-type:none;
    }
    
    #accordian ul li a{
        color:rgba(255,255,255,.5);
        text-decoration:none;
        font-size:15px;
        line-height:45px;
        display:block;
        padding:0 20px;
        position:relative;
    }
    
    #accordian>ul>li.active>a{
        color:#2853a1;
        background-color:transparent;
    }

    .selector-active{
        width:100%;
        display:inline-block;
        position:absolute;
        height:37px;
        top:0;
        left:0;
        background-color:#fff;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
    }
    
    .selector-active .bottom,.selector-active .top{
        position:absolute;
        width:0px;
        height:0px;
        right:0;
    }
    
    .selector-active .bottom:before,.selector-active .top:before{
        content:'';
        position:absolute;
        width:0px;
        height:0px;
        border-radius:50%;
        background: linear-gradient(180deg, #3260B4 0%, #528CF5 100%);
    }
    
    .selector-active .top:before{
        left:-25px;
        top:-25px;
    }
    
    .selector-active .bottom:before{
        bottom:-25px;
        left:-25px;
    }

    .row{
        display: block;
    }