#divPadre {
    float: left;
    background-color: #efefef;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    font-size: 25px;
    text-align: center;
    width: 356px;
}

#divHijo {
    background-color: #efefef;
    color: black;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;

    font-weight: 600;
    font-size: 20px;
}
#divPadre2 {
    background-color: #ffffff9e;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    flex-direction: column;
    width: 356px;
}

#divHijo2 {
    background-color: transparent;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

    text-align: center;
    font-size: large;
    font-weight: 600;
    font-size: 20px;
}

.mover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.imgi {
    margin-right: 20px;
    padding: 20px 0px 17px 21px;
    height: 111px;
    border-radius: 100%;
}

.dirvos{
    background-color: transparent;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-right-radius: 13px;
}

.directivo1 {
    display: flex;
    font-size: large;
}
.infop{
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;

}
.letraa{
    margin-top: 14px;
    color:#000000;
    font-size: 18px;
    font-weight: 500;
}

