.faq{
    background-color: yellowgreen;
    border-radius: 5px;
    width: 800px;
    height: 400px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}
#info{
    margin-left: 63px;
    margin-top: -20px;
    color: rgb(136, 130, 130);
}

/*.ventanaPregunta{
    border: 1px solid black;
}*/
.pregunta{
    background-color:rgb(49, 111, 192);
    border-radius: 5px;
    width: 700px;
    height: 400px;
    text-align: center;
    margin-bottom: 35px;
}

.question2{
    border: 1px solid black;
    border-radius: 10px;
}

footer{
    position: absolute;
    width: 100%;
    background-color: aliceblue;
}

footer li{
    list-style: none;
}

footer li ul li{
    list-style:disc;
}

.connect{
    font-size: xxx-large;
    
}

div.col.l6{
    margin-left: 15px;

}