.faq {
    border-radius: 5px;
    text-align: center;
    border: solid 1px black;
}

.pregunta {
    background-color: rgb(49, 111, 192);
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #0083f5;
    bottom: 0;
    width: 100%;
}

footer li {
    list-style: none;
}

footer li ul li {
    list-style: disc;
}

.connect {
    font-size: xxx-large;
}

div.col.l6 {
    margin-left: 15px;

}
.rtasDiv{
    height: 70%;
    overflow-y: scroll;
}