html{
  box-sizing: border-box;
  background: #f3f3f3;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: black;
}

footer a:hover{
  color: black;
}

a i{
  transition: 250ms;
}

a.facebook i:hover{
  color: #1877f2; /*COLOR ICONO FACEBOOK*/
}

a.github i:hover{
  filter: invert(50%); /*COLOR ICONO GITHUB*/
}

a.youtube i:hover{
  color: red; /*COLOR ICONO YOUTUBE*/
}

a.instagram i:hover{
  color: purple; /*COLOR ICONO INSTAGRAM*/
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 5%;
}