html{
  box-sizing: border-box;
  background: #f3f3f3;
}



*,
*:after,
*:before {
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: black;
}

a.github i:hover{
  filter: invert(50%);
}

a.youtube i:hover{
  color: red;
}

a.instagram i:hover{
  color: purple;
}

/*
.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}
*/
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 5%;
}
/*
.share {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #353c4a;
  border: 0.125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}
*/