@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*NAV*/

nav{
    background-color: #2853a1;
}

.btn-nav{
    padding-top: 20px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    float: right;
    padding-left: 10px;
}

.botonlogo{
    display: inline-block;
}

.botonlogo img{
    height: 70px;
    width: 75px;
}

.botonlogin{
    position: absolute;
    display: inline-block;
    right: 0%;
}

.botonlogin img{
    height: 70px;
    width: 75px;   
}

/*LINEA DE TIEMPO*/

h1{
    color: black;
    font-weight: 700;
    margin-top: 125px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    padding-top: 50px;
}

h1 span{
    color:  rgba(40, 83, 161, 1);
}

.process-wrapper{
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 59px;
}

#progress-bar-container ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

#progress-bar-container li::before{
    content: "";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover::before{
    background:  rgba(40, 83, 161, 1);
}

#progress-bar-container li{
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 59px;
    position: relative;
}

#progress-bar-container li .step-inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover{
    color:  rgba(40, 83, 161, 1);
}

#progress-bar-container li::after{
    content: ""; 
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    margin: auto;
    border: solid 7px  rgba(40, 83, 161, 1) ;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover::after{
    background: #777;
}

#progress-bar-container li.active::after{
    background: #777;
}

#progress-bar-container #line{
    width: 80%;
    margin: auto;
    background: #eee;
    height: 5px;
    position: absolute;
    left: 10%;
    top: 50px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;	 
	background: linear-gradient(90deg, rgba(40, 83, 161, 1) 35%, rgba(87, 147, 255, 1) 100%);
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/*TARJETAS*/

.cont-card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

.card{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 50px;
}
 
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    background:rgba(40, 83, 161, 1);
}
 
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
 
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #f3f3f3;
    text-align: center;
}
 
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(90deg, rgba(40, 83, 161, 1) 35%, rgba(87, 147, 255, 1) 100%);
    padding: 5%;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000
}
 

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 30px;
    line-height: 35px;
}
 
.card .back .link a{
    font-size: 17px;
    color: #f3f3f3;
    text-decoration: none;
}
 
.card .back h3{
    font-size: 23px;
    margin-top: 10px;
    letter-spacing: 1px;
}
 
.card .back p{
    letter-spacing: 1px;
}
 
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
 
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


/*FOOTER*/
.foot{
    width: 100%;
    height: 100%;
    background-color: rgb(87, 87, 87);
}

.foot .grupo-1{
    width: 100%;
    max-width: 1200px;
    height: 220px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.foot .grupo-1 .box figure{
    width: 100%;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
}

.foot .grupo-1 .box figure img{
    width: 100px;
}

.foot .grupo-1 .box h5{
    color: #f3f3f3;
    margin-bottom: 15px;
    font-size: 17px;
    text-align: center;
    margin: 13px;
}

.foot .grupo-1 .box ul li{
    color: #f3f3f3;
    margin-bottom: 8px;
    font-size: 13px;
    text-align: center;
}

.foot .grupo-1 .connect a {
    text-decoration: none;
    color: black;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    text-align: center;
    padding: 15px;
}

.foot .grupo-1 .connect a i{
    margin-top: 30px;
    transition: 250ms;
}
  
a.facebook i:hover{
    color: #f3f3f3; /*COLOR ICONO FACEBOOK*/
}
  
a.github i:hover{
    color: #f3f3f3; /*COLOR ICONO GITHUB*/ }
  
a.youtube i:hover{
    color: #f3f3f3; /*COLOR ICONO YOUTUBE*/
}
  
a.instagram i:hover{
    color: #f3f3f3; /*COLOR ICONO INSTAGRAM*/
}

.foot .grupo-2{
    background-color: #777;
    padding: 15px 10px;
    text-align: center;
    color: #f3f3f3;
}

.foot .grupo-2 small{
    font-size: 12px;
}

@media  screen and (max-width:800px) {
    .foot .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}