@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*NAV*/

nav{
    background-color: #2853a1;
}

.btn-nav{
    padding-top: 25px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    float: right;
    transition: 250ms;

}

.btn-nav:hover{
    color: black;
}

.img1{
    display: inline-block;
    margin-left: 50px;
    padding-top: 5px;
}

.img1 img{
    height: 70px;
    width: 75px;
}

/*CAMPANA*/

.icon-wrapper{
    width: 43px;
    height: 43px;
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 5px;
    top: 14px;
}


.icon-wrapper::after{
    content: '4';
    width: 20px;
    height: 20px;
    background-color: #d32b2b;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 0;
    transform: rotateY(3px);
}

.icon-wrapper:hover::after{
    opacity: 1;
    transform: rotateY(0);
    transition: opacity .25s;
    transform: .25s;
}

.bell-icon{
    max-width: 100%;
}

.icon-wrapper:hover .bell-icon{
    animation: shake 1s forwards;
}

@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
}

/*MENU DESPLEGABLE*/
.action{
    display: inline-block;
    float: right;
    top: 20px;
    right: 30px;
}

.action .profile{
    position: relative;
    right: 25px;
    top: 6.5px;
    margin-top: 8px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 250ms;
    overflow: hidden;
    cursor: pointer;
}

.action .profile:hover{
    border: solid 3px white;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 85px;
    right: 65px;
    background: #2853a1;
    width: 170px;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
    visibility: visible;
    opacity: 1;
    width: 170px;
}

.action .menu::before{
    content: '▲';
    font-size: 30px;
    position: absolute;
    top: -30px;
    right: 25px;
    width: 20px;
    height: 20px;
    color: #2853a1;
}

#primero{
    border-top: none;
}

.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.action .menu .ul{
    margin-bottom: 10;
}

.action .menu ul li{
    margin-bottom: 0;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5;
}

.action .menu ul li:hover img{
    opacity: 1;
}

.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 250ms;
    padding-left: 12%;
}

.action .menu ul li:hover a{
    color: black;
}

/*LINEA DE TIEMPO*/

h1{
    color: black;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    padding-top: 50px;
}

h1 span{
    color:  rgba(40, 83, 161, 1);
}

/*LINEA DE TIEMPO*/
.process-wrapper{
    margin: auto;
    max-width: 1200px;
}

#progress-bar-container{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 80px;
}

#progress-bar-container ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

#progress-bar-container li::before{
    content: "";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active::before,
#progress-bar-container li:hover::before{
    background:  rgba(40, 83, 161, 1);
}

#progress-bar-container li{
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 12px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover{
    color:  rgba(40, 83, 161, 1);
}

#progress-bar-container li::after{
    content: ""; 
    display: block;
    width: 6px;
    height: 6px;
    background: #2853a1;
    margin: auto;
    border: solid 7px  rgba(40, 83, 161, 1) ;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover::after{
    background: #2853a1;
}

#progress-bar-container li.active::after{
    background: #2853a1;
}

#progress-bar-container #line{
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;	 
	background: linear-gradient(90deg, rgba(40, 83, 161, 1) 35%, rgba(87, 147, 255, 1) 100%);
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:15px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:14px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}