header {
    background-color: #1177d1;
}

header a {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    float: right;
    padding-left: 10px;
}

.botonlogo {
    display: inline-block;
}

.botonlogo img {
    height: 70px;
    width: 75px;
}

.botonlogin {
    position: absolute;
    display: inline-block;
    right: 0%;
}

.carousel-item {

    height: 30rem;
    background: rgb(49, 111, 192);
}