.letra a{
	color: black;
	text-decoration: none;
}

.letra a:hover{
	color: white;
	text-decoration: none;
}

li
{
	list-style: none;
}

.col-3 li{
	padding-top: 25%;
}

.principal{
	position: relative;
	left: 35%;
}

.boton a{
	
	color: black;
}

.boton a:hover{
	color: white;
}

aside{
	
	background-color: #1177d1;
	height: 700px;
	width:60%;
	left: 18%;
	line-height: 550%;
	display: inline-block;
}


/*
article{
	background-color: black;
	width: 60%;
	display: inline-block;
}
*/
span{
	list-style:disc;
}

section {
	padding-right: 200px;
	padding-left: 450px;
	margin-top: -570px;
}

#row{
	margin-top: 20%;
	margin-bottom: 20%;
}

