.letra a{
	color: black;
	text-decoration: none;
	
	
}

.col-3 li{
	margin-left: -43px;
	margin-right: -10px;
	min-width: 50px;
	list-style: none;
	padding: 20px;
	padding-right: 15px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.col-3 li:hover{
	color: white;
	background-color: rgb(54 58 64 / 82%);
	text-decoration: none;
}

.col-3 li:hover a{
	color: white;
	text-decoration: none;
}

.principal{
	position: relative;
	left: 35%;
}

.boton a{
	
	color: black;
}

.boton a:hover{
	color: white;
}

aside{
	
	background-color: #1177d1;
	height: 700px;
	width:60%;
	left: 18%;
	line-height: 550%;
	display: inline-block;
}


span{
	list-style:disc;
}

section {
	padding-right: 200px;
	padding-left: 450px;
	margin-top: -570px;
}

#row{
	margin-top: 20%;
	margin-bottom: 20%;
}

#menu {
	background-color: rgba(72, 78, 86, 0.82);
	display: flex;
	align-items: center;
}

.ult{
	/*padding-bottom: 25%;*/
}

#selec{
	background-color: rgba(0, 132, 255, 0.596);
}

#selec span{
	color: white;
}

#section{
	background-color: #0083ff;
}