
.form-box{
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}
.toggle-btn{
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    border-radius: 5px;
}
#btn {
    position: absolute;
    background: linear-gradient(to right, rgba(40,83,161,1) 35%, rgba(87,147,255,1) 100%); */
    left: 17px;
    width: 156px;
    height: 93%;
    border-radius: 27px;
    transition: .5s;
}
.input-group{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 69%;
    margin-right: -7px !important;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: solid 1px #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #2853a1 35%, rgba(87,147,255,1) 100%);
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    bottom: 29px;
    right: 26px;
}
#login-btn {
    padding-left: 31px;
    color: white;
    transition: .5s;
    position: relative;
    top: 5px;
}
#register-btn{
    margin-left: 30px;
    color: gray;
    transition: .5s;
    position: relative;
    top: 4px;
}
#imgSeleccionada{
    border-radius: 50%;
    position: relative;
    left: 10%;
    pointer-events: none;
    transition: .5s;
    z-index: 3;
}
#lapiz{
    position: absolute;
    left: 13%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    color: white;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
}
#lapiz:hover{
    background-color: #343333bf;
    border: solid 1px black;
    z-index: 3;
}
#imagenes{
    position: absolute;
    top: 20%;
    background-color: white;
    border: solid 2px;
    border-radius: 15px;
}
#lista{
    left: 0;
}
.avatar{
    width: 50px;
    height: 50px;
    transition: 250ms;
}
.avatar:hover{
    border: solid black 2px;
    border-radius: 15px;
}
.error{
  font-size: 13px;
  margin-left: 15px;
  color: #a90000;
}
.icono{
  position: relative;
  font-size: 22px;
  top: 5px;
  padding: 20px;
}

#register{
  right: -380px;
}
.col {
    position: relative;
    left: 47px;
    bottom: -8px;
}
#nombre {
    margin-left: -12px;
    width: 110px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}
#apellido {
    margin-left: 33px;
    width: 124px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}
